<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Productsform">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Products Form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Productslist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Products List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UpdateProducts">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Update Product Record
            </NavLink>
        </div>


       

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MunitList">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Measuring Units List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PurchaseRequest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Purchase Request
            </NavLink>
        </div>

        

    </nav>
</div>

