@page "/Productsform"
@rendermode InteractiveServer
@inject HttpClient Http
@using Model;



<h3 style="color:darkblue;">Product Entry Form(Radzen)</h3>


<ProductFormFields Product="@product" OnSave="SaveProduct"/>

<p class="text-success">@message</p>

@code {
    ProductsModel product = new();
    string message = string.Empty;

    private async Task SaveProduct()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("http://localhost:5104/api/Products", product);

            if (response.IsSuccessStatusCode)
            {
                message = "Product saved successfully!";
                product = new();
            }
            else
                message = "Error saving product!";
        }
        catch(Exception ex)
        {
            
        }
    }
}



